@font-face {
  font-family: "Airbnb";
  src: url(../fonts/AirbnbCerealMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}
.navbar {
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.navbar .nav-detail .burger-menu {
  padding-left: 20px;
}
.navbar .nav-detail img {
  width: 30px;
  padding: 5px 0;
}

.side-nav {
  background-color: #ffffff;
  margin: 0;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
}

.side-nav img {
  width: 30px;
  margin: 15px 0;
}

.side-nav .detail-sidenav .nav .nav-link {
  padding: 10px 20px;
}

/* Modal */
.modal-dialog .modal-body input,
select {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-dialog .modal-body .form-group label {
  color: #000;
}

.modal-dialog .modal-body input.price {
  width: 70%;
}
.modal-dialog .modal-body select {
  width: 50%;
  color: grey;
}

.modal-dialog .modal-footer button {
  width: 20%;
}

.modal-dialog .modal-footer button.btn-cancel {
  background: #f24f8a;
  border: 1px solid #f24f8a;
  transition: 0.8s ease-in-out;
}

.modal-dialog .modal-footer button.btn-cancel:hover {
  border: 1px solid #dd3f79;
  background-color: #dd3f79;
}

.modal-dialog .modal-footer button.btn-add {
  background: #57cad5;
  border: 1px solid #57cad5;
  transition: 0.8s ease-in-out;
}

.modal-dialog .modal-footer button.btn-add:hover {
  border: 1px solid #2fafbb;
  background-color: #2fafbb;
}
/* Main Content */
.card-history {
  width: 1000px;
  display: grid;
  /* background: #e5e5e5; */
  grid-template-areas: "btn-income btn-orders btn-years";
  padding: 30px 20px;
  margin: 0 20px;
}

.card-history h2 {
  font-size: 28px;
}

.btn-income {
  grid-area: btn-income;
  width: 345px;
  height: 175px;
  border: 1px solid rgb(250, 215, 216);
  margin: 0 20px;
  border-radius: 10px;
  padding: 30px 30px;
  background: rgb(250, 215, 216);
  background: linear-gradient(
    100deg,
    rgba(250, 215, 216, 1) 0%,
    rgba(251, 178, 180, 1) 100%
  );
  box-shadow: 5px 5px 5px 0px rgba(250, 215, 216, 1);
  /* background: rgba(255, 143, 178, 0); */
  /* rgba(255, 143, 178, 0) @ 100%; */
}
.btn-orders {
  grid-area: btn-orders;
  width: 345px;
  height: 175px;
  border: 1px solid rgb(41, 223, 255);
  margin: 0 20px;
  border-radius: 10px;
  padding: 30px 30px;
  background: rgb(41, 223, 255);
  background: linear-gradient(
    100deg,
    rgba(41, 223, 255, 1) 0%,
    rgba(69, 205, 230, 1) 100%
  );
  box-shadow: 5px 5px 5px 0px rgba(115, 236, 255, 1);
}
.btn-years {
  grid-area: btn-years;
  width: 345px;
  height: 175px;
  border: 1px solid rgb(219, 195, 236);
  margin: 0 20px;
  border-radius: 10px;
  padding: 30px 30px;
  background: rgb(219, 195, 236);
  background: linear-gradient(
    100deg,
    rgba(219, 195, 236, 1) 0%,
    rgba(171, 132, 200, 1) 100%
  );
  box-shadow: 5px 5px 5px 0px rgba(219, 195, 236, 1);
}

/* Cart */
/* .chart {
  width: 1200px;
  height: 550px;
  margin: 30px 0;
  margin-left: 60px;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
} */
.chart .card {
  margin: 50px 0;
  margin-left: 50px;
}

.chart .card .card-body {
  width: 1100px;
  height: 600px;
  margin: 0 auto;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.recent-order {
  margin: 50px 0;
  margin-left: 60px;
}

.recent-order .detail-recent {
  width: 1100px;
  margin: 0 auto;
  padding: 10px 20px;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.recent-order table tbody {
  color: grey;
}

@media (max-width: 768px) {
  .card-history {
    display: grid;
    /* background: #e5e5e5; */
    grid-template-areas:
      "btn-income"
      "btn-orders"
      "btn-years";
    margin: 0 100px;
  }

  .btn-income {
    margin: 10px 0;
  }
  .btn-orders {
    margin: 10px 0;
  }
  .btn-years {
    margin: 10px 0;
  }

  .chart .card {
    margin: 50px 0;
    margin-left: -120px;
  }

  .chart .card .card-body {
    width: 700px;
    height: 400px;
    margin: 0 auto;
  }

  .recent-order .detail-recent {
    width: 700px;
    margin: 0 auto;
  }

  .recent-order {
    margin: 50px 0;
    margin-left: -100px;
  }
}

@media (max-width: 575.98px) {
  .card-history {
    margin: 0 15px;
  }

  .btn-income {
    margin: 10px 0;
  }
  .btn-orders {
    margin: 10px 0;
  }
  .btn-years {
    margin: 10px 0;
  }

  .chart .card {
    margin: 50px 0;
    margin-left: -85px;
  }

  .chart .card .card-body {
    width: 450px;
    height: 300px;
    margin: 0 auto;
  }

  .recent-order .detail-recent {
    width: 450px;
    padding: 10px 20px;
    margin: 0 auto;
  }

  .recent-order {
    margin: 50px 0;
    margin-left: -70px;
  }
}
